* {
  margin: 0;
  padding: 0;
  font-family: 'Sarabun', sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.link {
  color: #1cb3c8;
  font-size: 1.2rem;
}
.button,
.button-red {
  width: auto;
  min-width: 144px;
  height: 36px;
  background-color: #1cb3c8;
  color: #dfe2e2;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  line-height: 36px;
  border-radius: 2px;
  margin-left: 6px;
  margin-right: 6px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}
.button:hover,
.button-red:hover {
  color: #535962;
}
.button-red {
  background-color: #ff5959;
}
.section-button {
  width: 100%;
  text-align: center;
}
.field {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  padding: 12px;
  margin-bottom: 42px;
}
.field-in-select {
  width: 100%;
  font-size: 0.7rem;
  color: #535962;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.field-in-select >div {
  display: inline-block;
}
.field-in-select >div:before {
  content: ',  ';
}
.field-in-select >div:first-child:before {
  content: '';
}
.field-label {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  color: #1cb3c8;
  font-size: 1.1rem;
}
.field-label >input,
.field-label >select {
  margin-top: 6px;
  min-width: 100%;
  height: 36px;
  border-bottom: 1px solid #738598;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgba(0,0,0,0);
  font-size: 1.3rem;
  color: #535962;
}
.field-label >input:focus,
.field-label >select:focus {
  outline: none;
}
.wrapper {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}
.header {
  min-width: 100%;
  height: 104px;
  text-align: center;
}
.header-title {
  font-family: 'Open sans';
  width: 100%;
  height: 100%;
  line-height: 104px;
  color: #535962;
}
.home {
  min-height: 100vh;
  width: 100%;
  background-color: #dfe2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-title {
  font-family: 'Open sans';
  color: #535962;
  font-size: 2rem;
}
.home-buttons {
  display: flex;
  justify-content: center;
  padding-top: 12px;
}
.create-page {
  min-height: 100vh;
  width: 100%;
  background-color: #dfe2e2;
}
.form {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.form-fields {
  min-width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
.form-data-container {
  width: 80%;
  padding: 12px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list-wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: #dfe2e2;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list-container {
  margin-top: 42px;
  width: 80%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.celebrity-card {
  width: 200px;
  height: 250px;
  padding: 12px;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  margin: 12px;
}
.celebrity-card-photo {
  width: 100%;
  height: 200px;
  background-color: #1cb3c8;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.celebrity-card-photo > img {
  max-width: 100%;
}
.celebrity-card-name {
  width: 100%;
  color: #535962;
  text-align: center;
}
.movie-card {
  width: 182px;
  padding: 12px;
  cursor: pointer;
  margin: 12px;
}
.movie-card-poster {
  width: 182px;
  height: 268px;
  overflow: hidden;
}
.movie-card-poster > img {
  max-width: 100%;
}
.movie-card-name {
  width: 100%;
  color: #535962;
  text-align: center;
}
.movie-detail {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(35deg, rgba(0,0,0,0.7) 40%, rgba(0,0,0,0.2) 100%);
}
.movie-detail-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: #dfe2e2;
  padding-left: 36px;
  padding-right: 36px;
  box-sizing: border-box;
}
.movie-detail-title {
  font-family: 'Open sans';
  font-size: 2.3rem;
  font-weight: 600;
}
.movie-detail-data {
  padding: 36px;
  box-sizing: border-box;
}
.movie-detail-shorts {
  color: #dfe2e2;
  display: flex;
  justify-content: flex-start;
}
.movie-detail-shorts > div {
  display: block;
  margin: 12px;
}
.movie-detail-shorts > div > span {
  font-weight: bold;
}
.movie-detail-shorts > div:first-child {
  margin-left: 0;
}
.movie-detail-shorts > div:last-child {
  margin-right: 0;
}
.movie-detail-cast >h2 {
  margin-top: 6px;
  color: #dfe2e2;
}
.movie-detail-cast >div {
  width: 44%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.movie-detail-cast-mini {
  width: 64px;
  height: 64px;
  margin: 12px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}
.movie-detail-plot {
  color: #dfe2e2;
}
.movie-detail-plot > div {
  width: 44%;
}
.movie-detail-plot > div > span {
  font-weight: bold;
}
.image-bg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
