extends ../layout.pug

block content
  div(class="input-container")
    div(class="input-line")
      label(for="name") Name
      input(type="text" class="input-text" name="name")
    
    div(class="input-line")
      label(for="occupation") Name
      select(class="input-text" name="occupation")
        option(value="") 1
        option(value="") 1